@mixin hoverLink {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: var(--clr-white);
        transition: width var(--transition-duration);
        height: var(--thickness-s);
    }

    &:hover {
        outline: none;

        &::before {
            width: 100%;
        }
    }
}
