@use "../abstracts/mediaQueries" as *;

.social-links {
    ul {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: calc(var(--space-l) / 1.5);

        li a {
            img {
                width: var(--space-m);

                filter: var(--filter-white);
                transition: transform var(--transition-duration);
            }

            &:hover img {
                transform: translateY(calc(-1 * (var(--space-xs))));
            }
        }
    }

    @include tablet-up {
    }

    @include desktop-small-up {
        position: fixed;
        bottom: 0;
        left: var(--space-l);
        width: var(--space-sm);

        ul {
            flex-direction: column;

            li {
                width: 100%;
                a {
                    img {
                        width: 100%;
                    }
                }
            }
        }

        &::after {
            content: "";
            display: block;
            margin-top: var(--space-m);
            margin-left: auto;
            margin-right: auto;
            width: var(--thickness-s);
            height: var(--space-xl);
            background-color: var(--clr-white);
        }
    }

    @include desktop-medium-up {
        left: 3.5vw;
    }
}
