@mixin robotoBase {
    font-family: "Roboto";
    font-display: swap;
}

@font-face {
    @include robotoBase;
    src: url("/fonts/Roboto-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    @include robotoBase;
    src: url("/fonts/Roboto-Italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    @include robotoBase;
    src: url("/fonts/Roboto-Bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    @include robotoBase;
    src: url("/fonts/Roboto-Black-webfont.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

// Bold italics, not currently used
// @font-face {
//     @include robotoBase;
//     src: url("/fonts/Roboto-BoldItalic-webfont.woff") format("woff");
//     font-weight: bold;
//     font-style: italic;
// }
//
// @font-face {
//     @include robotoBase;
//     src: url("/fonts/Roboto-BlackItalic-webfont.woff") format("woff");
//     font-weight: 900;
//     font-style: italic;
// }
