@use "../components/hover_link" as *;
@use "../abstracts/mediaQueries" as *;

#projects {
    --project-bg: hsl(
        var(--clr-main-h),
        var(--clr-main-s),
        calc(var(--clr-main-l) + 2%)
    );
    --project-bg-translucent: hsla(
        var(--clr-main-h),
        var(--clr-main-s),
        calc(var(--clr-main-l) + 2%),
        0.9
    );
    --project-box-shadow: 0 0.3rem 0.5rem 0.6rem
        hsla(
            var(--clr-main-h),
            var(--clr-main-s),
            calc(var(--clr-main-l) - 5%),
            0.1
        );

    ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space-m);

        p a {
            @include hoverLink;
        }

        .project {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            gap: var(--space-s);
            background-color: var(--project-bg);
            box-shadow: var(--project-box-shadow);

            img {
                object-fit: cover;
                object-position: left;
                border-radius: var(--space-xs);
                transition-property: filter;
                transition-duration: var(--transition-duration);
            }

            // If filter is supported, make img act as a background image
            --filter: opacity(4%) blur(1px);
            @supports (filter: var(--filter)) {
                img {
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    filter: var(--filter);
                    height: 100%;
                }
            }

            section {
                padding: var(--space-m);
                display: flex;
                flex-direction: column;
                gap: var(--space-s);

                h4 {
                    font-weight: bold;
                    font-size: var(--font-size-l);
                    color: var(--clr-white);
                }

                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: var(--space-xs);

                    li {
                        font-size: var(--font-size-s);
                        border-radius: var(--space-xs);
                        padding: var(--thickness-l) var(--space-xs);
                        color: var(--clr-white);
                        background-color: hsl(
                            var(--clr-main-h),
                            var(--clr-main-s),
                            calc(var(--clr-main-l) + 7%)
                        );
                    }
                }

                div {
                    margin-top: var(--space-s);
                    display: flex;
                    gap: var(--space-s);

                    .button {
                        color: var(--clr-white);
                    }
                }
            }
        }
    }

    @include desktop-medium-up {
        ul {
            gap: var(--space-ml);

            .project {
                @media (hover: none) {
                    --filter: none;
                }
                @media (hover: hover) {
                    --filter: opacity(50%) blur(1.5px);
                    &:hover {
                        --filter: none;
                    }
                }

                background-color: transparent;
                box-shadow: none;
                padding: var(--space-m);

                section {
                    background-color: var(--project-bg-translucent);
                    box-shadow: var(--project-box-shadow);
                    border-radius: 0.25rem;
                }

                img {
                    width: 80%;
                }

                &:nth-child(2n) {
                    padding-left: 30%;
                }
                &:nth-child(2n + 1) {
                    padding-right: 30%;
                    img {
                        left: auto;
                    }
                }
            }
        }
    }
}
