#intro {
    padding: var(--space-xl) 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-s);

    p {
        font-weight: bold;
        font-size: var(--font-size-l);
        color: var(--clr-tertiary);
    }

    h2,
    h1 {
        font-weight: 900;
        font-size: var(--font-size-xl);
    }
    h2 {
        color: var(--clr-secondary);
    }
    h1 {
        color: var(--clr-white);
        line-height: 0.7;
    }

    .button {
        display: block;
        padding: var(--space-s) var(--space-m);
        margin-top: var(--space-ml);
    }
}
