@charset "UTF-8";
:root {
  --clr-main-h: 216;
  --clr-main-s: 65%;
  --clr-main-l: 11%;
  --clr-main: hsl(var(--clr-main-h), var(--clr-main-s), var(--clr-main-l));
  --clr-secondary-h: 309;
  --clr-secondary-s: 91%;
  --clr-secondary-l: 80%;
  --clr-secondary: hsl(
      var(--clr-secondary-h),
      var(--clr-secondary-s),
      var(--clr-secondary-l)
  );
  --clr-tertiary: hsl(289, 89%, 62%);
  --clr-black: hsl(0, 0%, 8%);
  --clr-white: hsl(0, 0%, 98%);
  --clr-text: hsl(0, 0%, 75%);
  --filter-white: invert(100%) sepia(6%) saturate(168%) hue-rotate(277deg)
      brightness(112%) contrast(88%);
  --font-size-s: clamp(1rem, 2vw, 1.2rem);
  --font-size-m: clamp(1.3rem, 3vw, 1.4rem);
  --font-size-ml: clamp(1.7rem, 5.5vw, 1.8rem);
  --font-size-l: clamp(2rem, 7vw, 2.5rem);
  --font-size-xl: clamp(2.5rem, 10vw, 5rem);
  --thickness-s: 1px;
  --thickness-m: 0.1rem;
  --thickness-l: 0.2rem;
  --thickness-xl: 0.4rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-sm: 1.55rem;
  --space-m: 2rem;
  --space-ml: 3rem;
  --space-lm: 3.5rem;
  --space-l: 5rem;
  --space-xl: 7.5rem;
  --site-margins: var(--space-sm);
  --transition-duration: 150ms;
  --animation-duration: 400ms;
  --animation-delay-min: 100ms;
  --animation-delay: 300ms;
  --animation-move-distance: var(--space-m);
  --time-s: 100ms;
  --time-m: 200ms;
  --time-l: 500ms;
}
@media (min-width: 576px) {
  :root {
    --site-margins: var(--space-lm);
  }
}
@media (min-width: 768px) {
  :root {
    --site-margins: var(--space-xl);
  }
}
@media (min-width: 990px) {
  :root {
    --site-margins: 15%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .animate {
    opacity: 1 !important;
    transform: translateX(0) scale(1) !important;
  }

  .delay-0 {
    transition-delay: calc(var(--animation-delay) * (1 / 2));
    animation-delay: calc(var(--animation-delay) * (1 / 2));
  }

  .delay-1 {
    transition-delay: calc(var(--animation-delay) * (2 / 2));
    animation-delay: calc(var(--animation-delay) * (2 / 2));
  }

  .delay-2 {
    transition-delay: calc(var(--animation-delay) * (3 / 2));
    animation-delay: calc(var(--animation-delay) * (3 / 2));
  }

  .delay-3 {
    transition-delay: calc(var(--animation-delay) * (4 / 2));
    animation-delay: calc(var(--animation-delay) * (4 / 2));
  }

  .delay-4 {
    transition-delay: calc(var(--animation-delay) * (5 / 2));
    animation-delay: calc(var(--animation-delay) * (5 / 2));
  }

  .delay-5 {
    transition-delay: calc(var(--animation-delay) * (6 / 2));
    animation-delay: calc(var(--animation-delay) * (6 / 2));
  }

  .delay-6 {
    transition-delay: calc(var(--animation-delay) * (7 / 2));
    animation-delay: calc(var(--animation-delay) * (7 / 2));
  }

  .delay-7 {
    transition-delay: calc(var(--animation-delay) * (8 / 2));
    animation-delay: calc(var(--animation-delay) * (8 / 2));
  }

  .delay-8 {
    transition-delay: calc(var(--animation-delay) * (9 / 2));
    animation-delay: calc(var(--animation-delay) * (9 / 2));
  }

  .fade-in {
    opacity: 0;
    transition-duration: var(--animation-duration);
    transition-property: transform, opacity;
  }

  .slide-left {
    opacity: 0;
    transition-duration: var(--animation-duration);
    transition-property: transform, opacity;
    transform: translateX(var(--animation-move-distance));
  }

  .slide-right {
    opacity: 0;
    transition-duration: var(--animation-duration);
    transition-property: transform, opacity;
    transform: translateX(calc(-1 * var(--animation-move-distance)));
  }

  .slide-up {
    opacity: 0;
    transition-duration: var(--animation-duration);
    transition-property: transform, opacity;
    transform: translateY(var(--animation-move-distance));
  }

  .slide-down {
    opacity: 0;
    transition-duration: var(--animation-duration);
    transition-property: transform, opacity;
    transform: translateY(calc(-1 * var(--animation-move-distance)));
  }

  .grow {
    opacity: 0;
    transition-duration: var(--animation-duration);
    transition-property: transform, opacity;
    transform: scale(0.1);
  }
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  background-color: transparent;
  border: none;
  resize: none;
  overflow: auto;
  font-family: inherit;
  font-size: inherit;
}
input:focus,
textarea:focus {
  outline: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BoldItalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BlackItalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
html {
  font-family: "roboto", sans-serif;
  color: var(--clr-text);
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size-m);
  background-color: var(--clr-main);
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  position: relative;
  transition: filter var(--animation-duration);
  margin: 0 var(--site-margins);
  overflow-x: visible;
}
main.blur {
  filter: blur(0.75rem) brightness(45%);
}
main > section + section {
  margin-bottom: var(--space-l);
}
main section h3 {
  margin-bottom: var(--space-m);
  color: var(--clr-white);
  font-size: var(--font-size-l);
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--space-s);
}
main section h3::before {
  content: "#";
  font-weight: 900;
  color: var(--clr-secondary);
}
main section h3::after {
  content: "";
  position: relative;
  background-color: var(--clr-secondary);
  height: var(--thickness-s);
  width: 100%;
}
@media (min-width: 1200px) {
  main {
    width: 65rem;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  main {
    width: 80rem;
  }
}

a {
  color: var(--clr-white);
}

img {
  width: 100%;
}

.button {
  width: fit-content;
  border: var(--thickness-s) solid var(--clr-secondary);
  border-radius: var(--space-xs);
  padding: var(--space-xs) var(--space-s);
  transition-property: background-color, opacity, transform;
  transition-duration: var(--transition-duration);
  background-color: transparent;
  color: var(--clr-white);
  font-weight: bold;
}
.button:hover {
  background-color: hsla(var(--clr-secondary-h), var(--clr-secondary-s), calc(var(--clr-secondary-l) - 10%), 0.1);
}

#intro {
  padding: var(--space-xl) 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#intro p {
  font-weight: bold;
  font-size: var(--font-size-ml);
  color: var(--clr-tertiary);
  margin-bottom: var(--space-m);
}
#intro h2,
#intro h1 {
  font-weight: 900;
  font-size: var(--font-size-xl);
  line-height: 1;
}
#intro h2 {
  color: var(--clr-secondary);
  margin-bottom: var(--space-s);
}
#intro h1 {
  color: var(--clr-white);
  margin-bottom: var(--space-l);
}
#intro .button {
  display: block;
  padding: var(--space-s) var(--space-m);
}

#projects {
  --project-bg: hsl(
      var(--clr-main-h),
      var(--clr-main-s),
      calc(var(--clr-main-l) + 2%)
  );
  --project-bg-translucent: hsla(
      var(--clr-main-h),
      var(--clr-main-s),
      calc(var(--clr-main-l) + 2%),
      0.9
  );
  --project-box-shadow: 0 0.3rem 0.5rem 0.6rem
      hsla(
          var(--clr-main-h),
          var(--clr-main-s),
          calc(var(--clr-main-l) - 5%),
          0.1
      );
}
#projects ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-m);
}
#projects ul p a {
  position: relative;
}
#projects ul p a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: var(--clr-white);
  transition: width var(--transition-duration);
  height: var(--thickness-s);
}
#projects ul p a:hover {
  outline: none;
}
#projects ul p a:hover::before {
  width: 100%;
}
#projects ul .project {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-s);
  background-color: var(--project-bg);
  box-shadow: var(--project-box-shadow);
  --filter: opacity(4%) blur(1px);
}
#projects ul .project img {
  object-fit: cover;
  object-position: left;
  border-radius: var(--space-xs);
  transition-property: filter;
  transition-duration: var(--transition-duration);
}
@supports (filter: var(--filter)) {
  #projects ul .project img {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: var(--filter);
    height: 100%;
  }
}
#projects ul .project section {
  padding: var(--space-m);
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}
#projects ul .project section h4 {
  font-weight: bold;
  font-size: var(--font-size-l);
  color: var(--clr-white);
}
#projects ul .project section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-xs);
}
#projects ul .project section ul li {
  font-size: var(--font-size-s);
  border-radius: var(--space-xs);
  padding: var(--thickness-l) var(--space-xs);
  color: var(--clr-white);
  background-color: hsl(var(--clr-main-h), var(--clr-main-s), calc(var(--clr-main-l) + 7%));
}
#projects ul .project section div {
  margin-top: var(--space-s);
  display: flex;
  gap: var(--space-s);
}
#projects ul .project section div .button {
  color: var(--clr-white);
}
@media (min-width: 1200px) {
  #projects ul {
    gap: var(--space-ml);
  }
  #projects ul .project {
    background-color: transparent;
    box-shadow: none;
    padding: var(--space-m);
  }
}
@media (min-width: 1200px) and (hover: none) {
  #projects ul .project {
    --filter: none;
  }
}
@media (min-width: 1200px) and (hover: hover) {
  #projects ul .project {
    --filter: opacity(50%) blur(1.5px);
  }
  #projects ul .project:hover {
    --filter: none;
  }
}
@media (min-width: 1200px) {
  #projects ul .project section {
    background-color: var(--project-bg-translucent);
    box-shadow: var(--project-box-shadow);
    border-radius: 0.25rem;
  }
}
@media (min-width: 1200px) {
  #projects ul .project img {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  #projects ul .project:nth-child(2n) {
    padding-left: 30%;
  }
}
@media (min-width: 1200px) {
  #projects ul .project:nth-child(2n+1) {
    padding-right: 30%;
  }
  #projects ul .project:nth-child(2n+1) img {
    left: auto;
  }
}

#experience .experience-object {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}
#experience .experience-object header {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}
#experience .experience-object header h4 {
  font-size: var(--font-size-ml);
  font-weight: 600;
  color: var(--clr-white);
}
#experience .experience-object header h4 span:first-child {
  color: var(--clr-secondary);
}
#experience .experience-object header h4 span:nth-child(2) {
  position: relative;
}
#experience .experience-object header h4 span:nth-child(2)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: var(--clr-white);
  transition: width var(--transition-duration);
  height: var(--thickness-s);
}
#experience .experience-object header h4 span:nth-child(2):hover {
  outline: none;
}
#experience .experience-object header h4 span:nth-child(2):hover::before {
  width: 100%;
}
#experience .experience-object header h5 {
  color: var(--clr-white);
  font-size: calc(var(--font-size-ml) - 0.3rem);
  font-style: italic;
}
#experience .experience-object ul {
  margin-top: var(--space-s);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-xs);
}
#experience .experience-object ul li {
  display: flex;
  gap: var(--space-m);
}
#experience .experience-object ul li::before {
  content: "▹";
  position: relative;
  color: var(--clr-secondary);
}

#contact form {
  --form-spacing: calc(var(--space-m) * 1.2);
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  margin-left: var(--space-m);
  margin-right: var(--space-m);
  margin-bottom: var(--space-m);
  margin-top: var(--form-spacing);
  color: var(--clr-white);
}
#contact form .form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}
#contact form .form-group label {
  height: var(--space-s);
}
#contact form .form-group input,
#contact form .form-group textarea {
  height: calc(var(--space-m) + 0.5rem);
  font-size: var(--font-size-s);
  color: var(--clr-text);
}
#contact form .form-group label,
#contact form .form-group input,
#contact form .form-group textarea {
  transition-property: color, font-size;
  transition-duration: var(--animation-duration);
}
#contact form .form-group::before, #contact form .form-group::after {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--space-xs));
  left: 0;
  height: var(--thickness-s);
}
#contact form .form-group::before {
  right: 0;
  background-color: var(--clr-white);
}
#contact form .form-group::after {
  width: 0;
  background-color: var(--clr-secondary);
  transition: width var(--animation-duration);
}
#contact form .form-group:focus-within label {
  color: var(--clr-secondary);
  font-size: var(--font-size-s);
}
#contact form .form-group:focus-within input,
#contact form .form-group:focus-within textarea {
  color: var(--clr-white);
  font-size: var(--font-size-m);
}
#contact form .form-group:focus-within::after {
  width: 100%;
}
#contact form button {
  margin-top: var(--space-m);
  cursor: pointer;
  font-size: calc(var(--font-size-m) * 1.2);
}
@media (min-width: 768px) {
  #contact form {
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
  }
}

/*# sourceMappingURL=global.css.map */
